{% if page.image.feature %}<header class="masthead">
    <div class="wrap">
    {% if site.logo != null %}
      <a href="{{ site.baseurl }}/" class="site-logo" rel="home" title="{{ site.title }}"><img src="{{ site.baseurl }}/images/{{ site.logo }}" width="200" height="200" alt="{{ site.title }} logo" class="animated fadeInDown"></a>
    {% else %}
      <h1 class="site-logo"><span class="animated fadeInDown">{{ site.textlogo }}</span></h1>
    {% endif %}
    </div>
</header><!-- /.masthead -->
{% else %}<header class="masthead">
    <div class="wrap">
      {% if site.logo != null %}
        <a href="{{ site.baseurl }}/" class="site-logo" rel="home" title="{{ site.title }}"><img src="{{ site.baseurl }}/images/{{ site.logo }}" width="200" height="200" alt="{{ site.title }} logo" class="animated fadeInDown"></a>
    {% else %}
      <h1 class="site-title"><span>{{ site.title }}</span></h1>
      <h2 class="site-description" itemprop="description">{{ site.description }}</h2>
    {% endif %}
    </div>
</header><!-- /.masthead -->{% endif %}
