/* ==========================================================================
   Site footer
   ========================================================================== */

.footer-wrapper {
  @include clearfix;
  margin: 2em auto;
  text-align: center;
  font-family: $alt-font;
  @include font-size(14);
  font-style: italic;
  color: lighten($text-color,20);
  a {
    color: lighten($text-color,20);
  }
}

/*
   Social media icons
   ========================================================================== */

.social-icons {
  margin: 1em 0;
  a {
    padding-top: 8px;
    margin: 0px 8px;
    &:hover {
      color: $black;
    }
  }
  a > img {
      background-color: #555;
      height: 24px;
      padding: 4px;
      margin-top: -13px;
      border-radius: 6px;
      &:hover {
        background-color: $black;
      }
    }
}
